.todo {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}



.card {
    flex-basis: 90%;
    box-shadow: 5px 5px 20px 0 rgba(4, 0, 2, 0.9);
    border-radius: 8px;
    overflow: hidden;
  ;
}
/* .card:hover{
  display: flex;
  justify-content: center;
  font-size: 18px;

} */




.card-content {
    font-family: cursive;
display: flex; justify-content: space-between;
padding: 20px 40px 10px 40px;
}